html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 微软雅黑;
    min-height: 100%;
    background-color: #F3F0EC;
    position: relative;
    min-width: 1200px;
}

.container-fuild {
    width: 100%;
    min-width: 1200px;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.header-top {
    height: 36px;
    width: 100%;
    line-height: 36px;
    font-size: 12px;
    background-color: #F5F5F5;
}

.user-name {
    color: #F10215;
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.menu-item {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    color: #999;
}
.menu-item a.shangjia{
    color: #F10215;
}
.menu-item:after {
    content: '';
    height: 16px;
    width: 1px;
    background-color: #666;
    top: 10px;
    right: 0;
    position: absolute;
}

.tel {
    font-weight: bold;
}

.shop_chart {
    color: #F10215;
    font-weight: bold;
}

.menu-item:last-child:after {
    width: 0;
}

/*头部搜索*/

.header-top-search {
    height: 100px;
    background-color: #FFF;
}

.logo {
    width: 208px;
    margin-top: 20px;
}

.search_box {
    width: 640px;
    height: 40px;
    margin-top: 35px;
    border: 2px solid #ED9027;
    font-size: 14px;
    margin-left: 30px;
}

.search_input {
    width: 520px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 9px;
}

.search_btn {
    height: 100%;
    width: 120px;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    border: none;
    background-color: #ED9027;
    outline: none;
    cursor: pointer;
}

.top_ac_box {
    margin-top: 35px;
}

.ac_box {
    width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
}

.ac_box:last-child {
    margin-left: 10px;
}

.ac_box a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
}

.ac_box a img {
    margin-right: 10px;
}

.menu_content {
    height: 38px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.menu_list {
    display: inline-block;
    position: relative;
}

.all_type {
    width: 210px;
    height: 38px;
    background-color: #ED9027;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    position: relative;
    font-family: MicrosoftYaHei-Bold;
}

.all_type_detail {
    display: block;
    position: relative;
    line-height: 38px;
    color: #FFF;
    padding-left: 25px;
    margin-left: 10px;
    background: url(../images/index/icon-catalog.png) left center no-repeat;
}

.all_type_detail:link {
    color: #fff;
}

.all_type_detail:hover {
    color: #eee;
}

.menu_lists {
    display: inline-block;
    margin-left: 15px;
}

.menu_list {
    display: inline-block;
    line-height: 38px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    padding: 0 13px;
    text-align: center;
    position: relative;
}

.sec_menu_lists {
    position: absolute;
    top: 38px;
    width: 100%;
    z-index: 25;
    left: -12px;
    background-color: #FDFDFD;
    padding: 0 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #DDD;
    display: none;
}

.sec_menu_lists:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #b7b7b4;
    position: absolute;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    top: -10px;
}

.menu_list:hover .sec_menu_lists,
.menu_list.active .sec_menu_lists {
    display: block;
}

.sec_menu_list {
    font-size: 14px;
    font-weight: normal;
    height: 44px;
    border-bottom: 1px solid #EEEEEE;
    text-align: center;
}

.sec_menu_list a {
    line-height: 44px;
}

.menu_list.active,
.menu_list a:hover {
    color: #ED9027;
}

.all_type_details {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 15;
    background: #252526;
}

.all_type_detail_items {
    margin-left: 10px;
}

.all_type_detail_item {
    height: 64px;
    position: relative;
    border-bottom: 1px solid rgba(245, 245, 245, .1);
}

.all_type_detail_item:hover {
    color: #666;
}

.all_type_text {
    line-height: 64px;
}

.all_type_text img {
    margin-right: 11px;
}

.toshop {
    width: 180px;
    height: 44px;
    margin: 0 auto;
    background-color: #CE3123;
    margin-top: 18px;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    position: relative;
    font-weight: bold;
    background: url(../images/index/img-goto-bestsellers.png);
    cursor: pointer;
}

.gotoShop {
    display: block;
    width: 100%;
    height: 100%;
}

/* lunbo */

.swiper-button-prev,
.swiper-button-next {
    left: 50%;
    width: 40px;
    height: 64px;
    border-radius: 10px;
    background-color: rgba(0, 9, 3, .4)
}

.swiper-button-prev {
    -webkit-transform: translateX(-360px);
            transform: translateX(-360px);
    background-image: url(../images/index/img-slide-previous.png);
    background-size: cover;
}

.swiper-button-next {
    -webkit-transform: translateX(560px);
            transform: translateX(560px);
    background-image: url(../images/index/img-slide-next.png);
    background-size: cover;
}

/*模块列表*/

.modules {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0;
    background-color: #FFF;
    height: 157px;
    overflow: hidden;
}

.hot_shop {
    display: block;
    width: 270px;
    height: 117px;
    cursor: pointer;
    background-image: url("../images/index/quicknav-1.png");
    background-size: cover;
}

.modules_items {
    display: inline-block;
    width: 595px;
}

.module_item {
    display: inline-block;
    width: 180px;
    height: 50px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.module_item a {
    width: 100%;
    height: 100%;
    display: block;
}

.kefu_image {
    margin-left: 20px;
}

.top_banner {
    position: relative;
    color: #FFF;
}

.entry_shop {
    display: block;
    width: 86px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #FFF;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    color: #FFF;
    position: absolute;
    top: 16px;
    right: 20px;
}

.order-container {
    padding: 0 20px 20px;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 1px solid #F3F0EC;
}

.order_top {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 13px;
    position: relative;
    color: #333;
}

.order_top:before {
    content: '';
    background-color: #F5303E;
    width: 4px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.orderList {
    background-color: #FFF;
}

a.more {
    font-size: 12px;
    color: #999;
}

.order_items {
    width: 100%;
    color: #333;
}

.order_type {
    min-width: 50px;
}

.order_items th {
    text-align: center;
}

.them {
    background-color: #f7f7f7;
    height: 37px;
    width: 100%;
}

.tab_line {
    height: 37px;
    cursor: pointer;
}

.tab_line:hover {
    background-color: #eee
}

.tab_line .order_type,
.them .order_type {
    text-align: left;
    padding-left: 10px;
}

.ac_view {
    color: #1691A7;
    font-size: 14px;
}

.singleModule {
    margin-top: 12px;
}

.shimu {
    width: 500px;
    height: 250px;
}

.singleModule_list {
    height: 100%;
    width: 675px;
    background-color: #fff;
}

.singleModule_list .order_items {
    margin-top: 15px;
}

.commonModule {
    height: 387px;
    margin-top: 15px;
}

.commonModule_left {
    width: 675px;
    height: 100%;
    background-color: #FFF;
    position: relative;
}

.commonModule_right {
    width: 500px;
    height: 100%;
    background-color: #FFF;
}

.commonModuleTop {
    height: 44px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    position: relative;
    background-color: #1691A7;
    padding: 0 20px 0 30px;
    line-height: 44px;
}

.commonModuleTop:before {
    content: '';
    width: 4px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: 16px;
}

.situation {
    color: #FF6005;
}

.commonModuleTop a.more {
    color: #FFF;
}

.commonModuleContent {
    padding: 5px 20px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 343px;
    position: relative;
}

.commenBottom {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.newsContent {
    width: 588px;
    background-color: #fff;
}

.newsContent .commonModuleTop {
    background-color: #F16F70
}

.newsList {
    margin: 20px
}

.first {
    margin-bottom: 15px;
}

.newsImage {
    width: 185px;
    height: 140px;
    overflow: hidden;
}

.newsDetail {
    margin-left: 195px;
}

.newsDetail .title {
    color: #1691A7;
    font-size: 18px;
}

.newsDetailContent {
    margin-top: 17px;
}

.newstime {
    font-size: 14px;
    color: #999;
}

.second {
    position: relative;
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
}

.second:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ED9027;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0
}

.company {
    background-color: #fff;
    margin-top: 15px;
    position: relative;
}

.company::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1691A7;
    top: -3px;
    left: 0;
}

.companyTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    display: inline-block;
    position: relative;
}

.companyTitle::before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #1691A7;
    position: absolute;
    top: 50%;
    left: -60px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
}

.companyTitle::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #1691A7;
    position: absolute;
    top: 50%;
    right: -60px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
}

.conpanies_list {
    display: inline-block;
    width: 175px;
    height: 80px;
    text-align: center;
    margin-left: 17px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #DDDDDD;
}

.conpanies_list a {
    display: block;
    width: 100%;
    height: 100%;
}

.servers {
    padding: 40px 0;
    text-align: center;
}

.server_item {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #000;
    width: 20%;
}

.server_title {
    font-size: 16px;
    color: #000;
}

.image_box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 15px;
}

.footer {
    background-color: #444;
    position: relative;
    margin-top: 6px;
    padding: 40px 0;
}

.footer::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ED9027;
    top: -3px;
    left: 0;
    position: absolute;
}

.footerContent .server_title {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.server_detail {
    margin-top: 5px
}

.server_detail a {
    font-size: 12px;
    color: #EEEEEE;
    line-height: 2;
}

.server_detail a:hover {
    color: #b7b7b4;
}

.copyRight {
    background-color: #333;
    font-size: 12px;
    color: #999;
    text-align: center;
    padding: 30px 0;
}

.right_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    z-index: 33;
    background-color: #3A3635;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.menuBar_box {
    width: 100%;
    padding: 9px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.menuBar_box:hover {
    background-color: #ED9027;
    color: #ED9027;
}

.menuBar_box:hover .maskactionBar {
    display: block;
}

.maskactionBar {
    width: 78px;
    height: 35px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    position: absolute;
    left: -78px;
    top: 50%;
    background-color: #444;
    line-height: 35px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 15;
    display: none;
}

.maskactionBar:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid #444;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -8px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.maskactionBar.whiteBox {
    width: 142px;
    background-color: #FFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px 0 15px 15px;
    font-size: 16px;
    color: #F5303E;
    left: -142px;
    height: auto;
    text-align: left;
}

.maskactionBar.whiteBox.erweimaBox {
    padding: 0
}

.rext {
    font-size: 12px;
    color: #333333;
    line-height: 1
}

.hotline {
    font-weight: bold;
    line-height: 1;
}

.maskactionBar.whiteBox:after {
    border-left: 8px solid #FFF;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.left_menu {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    width: 50px;
    left: 50%;
    margin-left: -655px;
    border-radius: 5px;
    background-color: #FFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    display: none;
}

.left_menu_item {
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    color: #555;
    position: relative;
}

.left_menu_item:after {
    content: '';
    width: 36px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    background-color: #DDD;
    position: absolute;
}

.left_menu_item:last-child:after {
    height: 0;
}

.left_menu_item:hover {
    background-color: #ED9027;
}

.left_menu_item:hover a {
    color: #FFF;
}
/* 登录注册 */
.login_tip{
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    margin-top: 35px;
    margin-left: 30px;
    padding-left: 30px;
    position: relative;
}
.login_tip a.reg_ac{
    color: #ED9027;
}
.login_tip::before{
    content: '';
    display: block;
    top: 0;
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #666;
}
.loginBox{
    height: 440px;
    background: url(../images/login/login-herobg.jpg);
    background-size: cover;
    position: relative;
}
.loginwarp{
    width: 350px;
    height: 380px;
    position: absolute;
    background-color: #FFF;
    right: 50%;
    top: 30px;
    margin-right: -595px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px;
}
.login_title{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
    color: #333;
}
.input_box{
    height: 44px;
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
}
.login_btn{
    font-size: 14px;
    color: #fff;
    width: 120px;
    height: 40px;
    background-color: #307FA8;
    border: none;
    cursor: pointer;
}
.input_warp{
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;

}
.lable_icon{
    margin: 0 10px;
}
.login_bottom{
    width: 310px;
    font-size: 14px;
    color: #333;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.login_bottom a.reg_ac{
    color: #ED9027;
}
.registerBox{
    height: 750px;
    background: url(../images/login/apply-herobg.jpg);
    background-size: cover;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}
.register_top{
    background: url(../images/login/apply-titlebg.jpg);
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 30px;
}
.register_title{
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
}
.register_warp{
    height: 100%;
    background-color: #FFF;
}
.tabItems{
    text-align: center;
    margin-top: 20px;
}
.tabItem{
    width: 230px;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    border: 1px solid #F7F5F5;
}
.tabItem.active{
    border: 1px solid #D3C9BA;
}
.check_choose{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 10px 0 20px;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    -webkit-appearance: none !important;
}
.check_choose:before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: url(../images/login/apply-radio.png) center no-repeat;
}
.check_choose:checked:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: url(../images/login/apply-radio-checked.png) center no-repeat;
}
.form-table{
    width: 50%;
    position: relative;
    margin-top: 30px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form-table:after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #E2D8CA;
}
.form-tab-them{
    font-size: 18px;
    color: #333;
}
.form-model{
    margin-top: 20px;
}
.form-model:first-child{
    margin-top: 0;
}
.form-input-common{
    font-size: 12px;
    border: 2px solid #ccc;
    width: 235px;
    height: 36px;
    outline: none;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.adress_input {
    font-size: 12px;
    position: relative;
    width: 72px; 
    margin-right: 10px;
    height: 36px;
    outline: none;
    border: 2px solid #ccc;
    padding-left: 12px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}
.adress_input::after{
    content: '2121212'; 
    display: block;
    position: absolute;
    width: 10px;
    height: 6px;
    background: url(../images/index/icon-more-white.png) ;
    top: 50%;
    right: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.table-right{
    padding-left: 74px;
}
.register_xieyi{
    text-align: center;
    font-size: 14px;  
    margin-top: 43px;
    margin-bottom: 20px;
    color: #333;
    line-height: 20px;
}
.register-xieyi{
    color: #ED9027;
    cursor: pointer;
}
.form_check{
    width: 20px;
    height: 20px;
    display: inline-block;
    outline: none;
    position: relative;
    top: 5px;
    cursor: pointer;
}
.form_check::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/login/reg-checkbox.png) center no-repeat;
}
.form_check:checked::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/login/reg-checkbox-checked.png) center no-repeat;
}
.sub_form{
    width: 300px;
    height: 44px;
    background-color: #ED9027;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
}
.sub_form:hover{
    color: rgba(255,255,255,0.8)
}
.uploadImage{
    width: 383px;
    margin-right: 10px;
    cursor: not-allowed;
}
.uploadBtn{
    display: inline-block;
    width: 97px; 
    margin-right: 70px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    position: relative;
}
.uploadBtn input{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
}
/* 委托找货 */