@charset "utf-8";
/* 重写浏览器的所有默认样式 yui.css
---------------------------------------------------------------------------------------------------------------------- */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:14px;font-family:'微软雅黑';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
s{ text-decoration:none;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
legend{color:#000;}

/* 基本属性
---------------------------------------------------------------------------------------------------------------------- */
a{text-decoration: none;font-family:'微软雅黑';
 color: inherit;}
a:link,a:visited{color:inherit;}
a:hover,a:active,a:focus{color: #ED9027;text-decoration: none;}
input, button, select, textarea{font-size:14px;color:#333;}
/* 清除浮动
---------------------------------------------------------- */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix{zoom:1;}
/*下面的清除浮动，相同与  clear_box，只用与，具体项目中，*/
.pull-left{ float:left;}
.pull-right{ float:right;}
.w1200{margin: 0 auto; width: 1200px;}
img{max-width: 100%;vertical-align: middle; display: inline-block}
.main{width: 1200px; margin: 0 auto;}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
select,
button {
 -webkit-appearance: none;
 }
 .align-center{
     text-align: center;
 }